version: '3'
services:
  postgresql:
    image: "postgres:latest"
    ports:
      - "5433:5432" # Maps host port 5433 to container port 5432 (default for Postgres)
    environment:
      - POSTGRES_DATABASE=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres